@using Frontend_SPP.Resources.Home
@{
    ViewData["Title"] = "Password Renewal";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

@section scripts{
    <script src="@Url.Content("~/script/renewpassword.js")"></script>    
}

<style>
    #message {
        display: none;
        background: #f1f1f1;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: 10px;
    }

        #message p {
            padding: 0 35px 0 35px;
            font-size: 14px;
        }

    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
        color: green;
    }

        .valid:before {
            position: relative;
            left: -35px;
            content: "✔";
        }

    /* Add a red text color and an "x" icon when the requirements are wrong */
    .invalid {
        color: red;
    }

        .invalid:before {
            position: relative;
            left: -35px;
            content: "✖";
        }
</style>

<input type="hidden" id="isValid" name="isValid" value=@ViewBag.isValid>
<div class="section topmargin-sm mb-0">
    <div id="t-login" class="container clearfix">

        <div class="tabs mx-auto bottommargin-lg clearfix" id="div_renew_password" data-animate="bounceInRight" style="max-width: 750px;">

            <div class="tab-container">

                <div class="tab-content">
                    <div class="card mb-0">
                        <div class="card-body" style="padding: 40px;">
                            <form id="FormRenewPassword" name="FormRenewPassword" class="mb-0">

                                <h3>Pulihkan Akun</h3>
                                <small>Silahkan membuat password baru untuk memulihkan akun Anda</small>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label>Password</label>
                                        <input type="password" id="Renew_Password" name="Renew_Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control" />
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label>Re-enter Password</label>
                                        <input type="password" id="Renew_Password_Reentered" name="Renew_Password_Reentered" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control" />
                                    </div>

                                    <div id="message" class="mb-2">
                                        <h3>Password must contain the following:</h3>
                                        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                                        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                                        <p id="number" class="invalid">A <b>number</b></p>
                                        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                                    </div>

                                    <div class="col-12 form-group">
                                        <button type="submit" formaction="FormRenewPassword" class="button button-3d button-black m-0"><i class="fa fa-spinner fa-spin button-spinner"></i>SUBMIT</button>
                                        <a class="button button-3d btn-outline-secondary m-0" href="@Url.Action("Index", "Home")">Cancel</a><br />
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>



            </div>

        </div>

        <input type="hidden" id="UserID" name="UserID" />

    </div>
</div>


