
*.cache
.vs/SPP/
bin/
obj/
BO_SPP/bin/Debug/net5.0/BO_SPP.dll
BO_SPP/bin/Debug/net5.0/BO_SPP.pdb
BO_SPP/bin/Debug/net5.0/BO_SPP.Views.dll
BO_SPP/bin/Debug/net5.0/BO_SPP.Views.pdb
BO_SPP/bin/Debug/net5.0/ref/BO_SPP.dll
BO_SPP/obj/Debug/net5.0/BO_SPP.csproj.CoreCompileInputs.cache
BO_SPP/obj/Debug/net5.0/BO_SPP.csprojAssemblyReference.cache
BO_SPP/obj/Debug/net5.0/BO_SPP.dll
BO_SPP/obj/Debug/net5.0/BO_SPP.pdb
BO_SPP/obj/Debug/net5.0/BO_SPP.Views.dll
BO_SPP/obj/Debug/net5.0/BO_SPP.Views.pdb
BO_SPP/obj/Debug/net5.0/Razor/Views/Account/MyProfile.cshtml.g.cs
BO_SPP/obj/Debug/net5.0/Razor/Views/Delegator/MemberDelegator.cshtml.g.cs
BO_SPP/obj/Debug/net5.0/ref/BO_SPP.dll
DB_SPP/bin/Debug/DB_SPP.dacpac
DB_SPP/DB_SPP.jfm
DB_SPP/obj/Debug/DB_SPP.sqlprojAssemblyReference.cache
DB_SPP/obj/Debug/Model.xml
DB_SPP/SqlSchemaCompare.scmp
Frontend_SPP/bin/Debug/net5.0/en/Frontend_SPP.resources.dll
Frontend_SPP/bin/Debug/net5.0/Frontend_SPP.dll
Frontend_SPP/bin/Debug/net5.0/Frontend_SPP.pdb
Frontend_SPP/bin/Debug/net5.0/Frontend_SPP.Views.dll
Frontend_SPP/bin/Debug/net5.0/Frontend_SPP.Views.pdb
Frontend_SPP/bin/Debug/net5.0/ref/Frontend_SPP.dll
Frontend_SPP/obj/Debug/net5.0/en/Frontend_SPP.resources.dll
Frontend_SPP/obj/Debug/net5.0/Frontend_SPP.csproj.CoreCompileInputs.cache
Frontend_SPP/obj/Debug/net5.0/Frontend_SPP.csprojAssemblyReference.cache
Frontend_SPP/obj/Debug/net5.0/Frontend_SPP.dll
Frontend_SPP/obj/Debug/net5.0/Frontend_SPP.pdb
Frontend_SPP/obj/Debug/net5.0/Frontend_SPP.Views.dll
Frontend_SPP/obj/Debug/net5.0/Frontend_SPP.Views.pdb
Frontend_SPP/obj/Debug/net5.0/Razor/Views/Account/MyProfile.cshtml.g.cs
Frontend_SPP/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
Frontend_SPP/obj/Debug/net5.0/ref/Frontend_SPP.dll
