@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="@Url.Content("~/Scripts/Pages/Banner.js")"></script>

    <script>
        function SetRole() {
            let Role = '@ViewBag.Role';
            sessionStorage.setItem("Role", Role);
        }      
    </script>
}

<style>
    .centered-title {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .centered-subtitle {
        position: absolute;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<div class="row">
    <div class="col-lg-12 mb-3">
        <div class="d-flex align-items-center justify-content-between">
            <div class="navbar-breadcrumb">
                <h5 class="mb-0">Daftar Banner Utama</h5>
                <small>Content Management System</small>
            </div>
            <div class="btn-group btn-group-toggle">
                <button id="btnAdd" onclick="return false;" class="btn btn-info button-icon"><i class="ri-add-line m-0"></i>Add</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">                
                <div class="LoaderOnGrid">
                    <div class="overlay ModalLoader">
                        <i class="fas fa-2x fa-spinner fa-spin" style="font-size:48px;color:red"></i>
                    </div>
                </div>
                <table class="table table-bordered" id="TableData" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Thumbnail</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th>UpdatedOn</th>
                            <th>UpdatedBy</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>

        <form id="FormInput">
            <input type="hidden" class="form-control text-sm" id="Action">
            <input type="hidden" class="form-control text-sm" id="ID">

            <div id="divInput" class="card" style="display: none">
                <div class="card-body">
                    <p>Banner utama disediakan dalam dua versi bahasa</p>
                    <ul class="nav nav-tabs" id="myTab-1" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav_ID" data-toggle="tab" href="#tab_ID" role="tab" aria-controls="tab_ID" aria-selected="true"><span class="flag-icon flag-icon-idn header-misc-icon mr-2"></span>ID (Bahasa)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav_EN" data-toggle="tab" href="#tab_EN" role="tab" aria-controls="tab_EN" aria-selected="false"><span class="flag-icon flag-icon-gbr header-misc-icon mr-2"></span>EN (English)</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent-2">
                        <div id="tab_ID" class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav_ID">
                            <div class="form-group">
                                <label>Gambar Banner *)</label>
                                <small>JPG / JPEG / PNG dengan ukuran 1440 x 760 pixel</small>
                                <div class="custom-file mb-3">
                                    <input type="file" id="fu_Filename_ID" name="fu_Filename_ID" class="custom-file-input" accept="image/*">
                                    <label class="custom-file-label" for="customFile">Pilih gambar</label>
                                </div>
                            </div>

                            <div id="div_Preview_ID" class="form-group">
                                <label>Pratinjau Gambar</label>
                                <img id="Preview_ID" class="img-banner vw-100" />
                                <div id="Preview_Title_ID" class="centered-title"></div>
                                <div id="Preview_SubTitle_ID" class="centered-subtitle"></div>
                            </div>

                            <div class="form-group">
                                <label>Title</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select id="Title_ID_Color" name="Title_ID_Color" class="form-control" onchange="SetPreviewImageText_ID()">
                                            <option value="Dark">Dark</option>
                                            <option value="Light">Light</option>
                                        </select>
                                    </div>
                                    <input type="text" id="Title_ID" name="Title_ID" onchange="SetPreviewImageText_ID()" class="form-control" maxlength="100" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Sub-title</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select id="SubTitle_ID_Color" name="SubTitle_ID_Color" class="form-control" onchange="SetPreviewImageText_ID()">
                                            <option value="Dark">Dark</option>
                                            <option value="Light">Light</option>
                                        </select>
                                    </div>
                                    <input type="text" id="SubTitle_ID" name="SubTitle_ID" onchange="SetPreviewImageText_ID()" class="form-control" maxlength="150" />
                                </div>                                
                            </div>

                            <div style="display: none" class="form-group">
                                <label>Label Tombol</label>
                                <input type="text" id="LabelTombol_ID" name="LabelTombol_ID" class="form-control" maxlength="50" />
                            </div>

                            <div style="display: none" class="form-group">
                                <label>Alamat URL Tombol</label>
                                <input type="text" id="Link_ID" name="Link_ID" class="form-control" />
                            </div>

                        </div>
                        <div id="tab_EN" class="tab-pane fade" role="tabpanel" aria-labelledby="nav_EN">
                            <div class="form-group">
                                <label>Banner Image *)</label>
                                <small>JPG / JPEG / PNG within 1440 x 760 pixel ratio</small>
                                <div class="custom-file mb-3">
                                    <input type="file" id="fu_Filename_EN" name="fu_Filename_EN" class="custom-file-input" accept="image/*">
                                    <label class="custom-file-label" for="customFile">Choose image</label>
                                </div>
                            </div>

                            <div id="div_Preview_EN" class="form-group">
                                <label>Image Preview</label>
                                <img id="Preview_EN" class="img-banner vw-100" />
                                <div id="Preview_Title_EN" class="centered-title"></div>
                                <div id="Preview_SubTitle_EN" class="centered-subtitle"></div>
                            </div>

                            <div class="form-group">
                                <label>Title</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select id="Title_EN_Color" name="Title_EN_Color" class="form-control" onchange="SetPreviewImageText_EN()">
                                            <option value="Dark">Dark</option>
                                            <option value="Light">Light</option>
                                        </select>
                                    </div>
                                    <input type="text" id="Title_EN" name="Title_EN" onchange="SetPreviewImageText_EN()" class="form-control" maxlength="100" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Sub-title</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select id="SubTitle_EN_Color" name="SubTitle_EN_Color" class="form-control" onchange="SetPreviewImageText_EN()">
                                            <option value="Dark">Dark</option>
                                            <option value="Light">Light</option>
                                        </select>
                                    </div>
                                    <input type="text" id="SubTitle_EN" name="SubTitle_EN" onchange="SetPreviewImageText_EN()" class="form-control" maxlength="150" />
                                </div>
                            </div>

                            <div style="display: none" class="form-group">
                                <label>Button Label</label>
                                <input type="text" id="LabelTombol_EN" name="LabelTombol_EN" class="form-control" maxlength="50" />
                            </div>

                            <div style="display: none" class="form-group">
                                <label>Button URL</label>
                                <input type="text" id="Link_EN" name="Link_EN" class="form-control" />
                            </div>

                        </div>

                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select id="Status" name="Status" class="form-control">
                            <option value="Aktif">Aktif</option>
                            <option value="Non Aktif">Non Aktif</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" id="btnSave" class="btn btn-success btn-sm"><i class="fa fa-spinner fa-spin button-spinner"></i>Save</button>
                    <button id="btnCloseForm" onclick="CloseForm(); return false;" class="btn bg-danger btn-sm">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>