@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    
    <script src="@Url.Content("~/Scripts/Pages/AddMemberDelegator.js")"></script>
}

<div class="row">
    <div class="col-lg-12 mb-3">
        <div class="d-flex align-items-center justify-content-between">
            <div class="navbar-breadcrumb">
                <h6 style="font-size: 13px" class="mb-0">Klik pilih pada data dibawah ini untuk didaftarkan pada Grup Delegator <span id="DelegatorName"></span></h6>
                <small>Add Member Delegator</small>
            </div>
            <div class="">
                <button id="btnSync" onclick="return false;" class="btn btn-sm btn-outline-warning button-icon mr-1"><i class="fa fa-history m-0"></i>&nbsp;Sync from AD PTSMI</button>
                <a id="btnCancel" href="@Url.Action("MemberDelegator", "Delegator")" class="btn btn-sm btn-outline-primary button-icon">Cancel</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="LoaderOnGrid">
                    <div class="overlay ModalLoader">
                        <i class="fas fa-2x fa-spinner fa-spin" style="font-size:48px;color:red"></i>
                    </div>
                </div>
                <table class="table table-bordered text-sm" id="TableData" style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="min-width: 50px">Action</th>
                            <th>Profil</th>
                            <th>Nama Lengkap</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Grup Delegator</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>

        
    </div>
</div>